<div class="w3-white w3-margin">
    <div class="w3-container w3-padding w3-black">
        <h4>Donate</h4>
    </div>
    <div class="w3-container w3-padding">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="UPYZGBPZD9TEJ">
            <div class="col-md-3">
                <input type="image" src="~/images/paypal.png" style="width:50px" name="submit" alt="PayPal - The safer, easier way to pay online!">
            </div>
            <div class="col-md-9">
                <span>Have an extra dollar or two laying around?</span>
            </div>
        </form>
    </div>
</div>
<hr>

