<!-- About Server -->
<div class="w3-white w3-margin">
    <img src="~/images/ragnarok.jpg" alt="Ark Logo" style="width:100%" class="">
    <div class="w3-container w3-black">
        <h4>ColoArk</h4>
        <p>
            A PS4 Ark Server running Ragnarok PvP. We are building an active community of survivors and offer
            services such as PvE tradehubs, public forges, an in-game store, weekly events, and more.
        </p>
    </div>
</div>
<hr>