@model List<Post>
@{
    ViewData["Title"] = "Home Page";
}

<!-- About/Information menu -->
<div class="col-md-4 pull-right">
    @{ Html.RenderPartial("_ServerSummary"); }
    @{ Html.RenderPartial("_Donate"); }
    @{ Html.RenderPartial("_EventsSummary"); }
</div>

<!-- Blog entries -->
<div class="col-md-8 pull-left">
    @{
        string changeAction = ViewBag.changeAction;
        switch (changeAction)
        {
            case "underconstruction":
                <div class="alert alert-info alert-auto-remove" role="alert">
                    <p>Sorry this feature is currently under construction</p>
                </div>
                break;
            case "contactsent":
                <div class="alert alert-success alert-auto-remove" role="alert">
                    <p>Your message has been sent</p>
                </div>
                break;
        }
    }
    <!-- Partial Post Loop -->
    @Html.Partial("~/Views/Shared/_PostLoop.cshtml", Model)
</div>
<!-- END BLOG ENTRIES -->
